<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <a class="navbar-brand" href="{{ path('home_page') }}">
        {{ 'homepage.title' | trans }}
    </a>
    <a class="navbar-brand" href="{{ path('list_page') }}">
        {{ 'listpage.title' | trans }}
    </a>
</nav>
