{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block body %}
    <div class="vertical-center">
        <div class="container">
            {{ 'success_message' | trans }}
        </div>
    </div>
{% endblock %}
